<style>/*<![CDATA[*/
.loading body{overflow-y:hidden!important;background:#ffffff;opacity:0;}
.loading::before{content:'';position:fixed;left:0;top:0;bottom:0;right:0;background-image:url(https://cdn.jsdelivr.net/gh/nguyenphu04723/Phugroups/Reload-1s-200px.svg);background-position:center center;background-repeat:no-repeat;background-size:50px;overflow:hidden;z-index:999}
.loading::after{color:#4d4fe4;content:'Loading...';position:fixed;top:calc(50% + 40px);left:50%;transform:translate(-50%,-50%);font-family:Roboto,sans-serif}
.redirecting body{opacity:0!important}
/*]]>*/</style>
